appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
certifi==2020.6.20
colorama==0.4.3
distlib==0.3.1
Django==3.1
filelock==3.0.12
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==8.0.1 # Allow as to process images with postgres
pipenv==2020.8.13
psycopg2==2.8.6 # Adapter from Python to PSQL
pylint==2.4.4
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
virtualenv==20.0.31
virtualenv-clone==0.5.4
wrapt==1.11.2